:root {
  --doc-height: 100%;
  --accent-color: #F637EC;
  accent-color: var(--accent-color);
}
* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
header {
  background: #999;
  color: #fff;
}
main {
  display: grid;
  grid-template-rows: 50vh 1fr;
  grid-template-areas:
    "map"
    "list"
    "footer";
  height: 100vh;
  height: var(--doc-height);
}

#p-map {
  cursor: crosshair;
  grid-area: map;
}

#p-list {
  grid-area: list;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  scroll-behavior: smooth;
}
li[id^="p-note"] {
  border-top: 1px solid #ededed;
  padding: .5rem 1rem;
  transition: background-color .3s ease-out;
}
li[id^="p-note"]:target {
  background-color: #fee7fd;
}

form[id^="p-form"] {
  display: grid;
  grid-template-columns: 1fr min-content;
}
button[name="delete"] {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0 0 0 .5rem;
}
input[name="note"] {
  background: transparent;
  border: 0;
  display: block;
  overflow: hidden;
  padding: .2rem .4rem;
  text-overflow: ellipsis;
}
input[name="note"]::placeholder {
  font-style: italic;
  font-weight: 300;
}
input[name="note"]:focus {
  background: #fff;
  grid-area: 1 / 1 / 2 / 3;
  z-index: 2;
}

@media (min-aspect-ratio: 1/1) {
  main {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "map list"
      "map footer";
  }
}

.svg-icon path {
  fill: #fff;
  stroke: #333;
}
.svg-icon circle {
  fill: var(--accent-color);
}
